{% extends 'base.html.twig' %}

{% block title %}Edit Posseder{% endblock %}

{% block body %}
    <h1>Edit Posseder</h1>

    {{ include('posseder/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('posseder_index') }}">back to list</a>

    {{ include('posseder/_delete_form.html.twig') }}
{% endblock %}
