{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="exemple-wrapper">
	<a href="{{ path('logout') }}">Deconnexion</a>
	<h1>Connexion</h1>
	{% if error %}
	
		<span class="error">{{ error.messageKey }}</span>
	{% endif %}
	
     <form action="{{ path('app_login') }}" method="post"> 
     
     	<label for="inputUsername" class="sr-only">Utilisateur: </label>         
     	<input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" placeholder="Utilisateur" required autofocus>              
     	<label for="inputPassword" class="sr-only">Mot de passe: </label>         
     	<input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>                          
     	<button type="submit" class="btn btn-primary">Connexion</button>     
     </form>

{% endblock %}

