{% extends 'base.html.twig' %}

{% block title %}New Constituer{% endblock %}

{% block body %}
    <h1>Create new Constituer</h1>

    {{ include('constituer/_form.html.twig') }}

    <a href="{{ path('constituer_index') }}">back to list</a>
{% endblock %}
