{% extends 'base.html.twig' %}

{% block title %}New Interagir{% endblock %}

{% block body %}
    <h1>Create new Interagir</h1>

    {{ include('interagir/_form.html.twig') }}

    <a href="{{ path('interagir_index') }}">back to list</a>
{% endblock %}
