<form method="post" action="{{ path('dosage_delete', {'dosCode': dosage.dosCode}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dosage.dosCode) }}">
    <button class="btn">Delete</button>
</form>
