{% extends 'base.html.twig' %}

{% block title %}Edit Prescrire{% endblock %}

{% block body %}
    <h1>Edit Prescrire</h1>

    {{ include('prescrire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('prescrire_index') }}">back to list</a>

    {{ include('prescrire/_delete_form.html.twig') }}
{% endblock %}
