{% extends 'base.html.twig' %}

{% block title %}Edit Realiser{% endblock %}

{% block body %}
    <h1>Edit Realiser</h1>

    {{ include('realiser/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('realiser_index') }}">back to list</a>

    {{ include('realiser/_delete_form.html.twig') }}
{% endblock %}
