{% extends 'base.html.twig' %}

{% block title %}New Realiser{% endblock %}

{% block body %}
    <h1>Create new Realiser</h1>

    {{ include('realiser/_form.html.twig') }}

    <a href="{{ path('realiser_index') }}">back to list</a>
{% endblock %}
