{% extends 'base.html.twig' %}
{% block stylesheets %}
    
{% endblock %}
{% block title %}Accueil{% endblock %}

{% block body %}



{#
<div class="video">
	<video src="Video/Accueil.mp4" autoplay controls width="900" height="600"></video>
</div>
#}

<iframe width="560" height="315" src="https://www.youtube.com/embed/W-gmIG41dGA?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}
