{% extends 'base.html.twig' %}
{% block stylesheets %}
    
{% endblock %}
{% block title %}Accueil{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-3" >Présentation</h1>
  <p class="lead text-justify">Le laboratoire Galaxy Swiss Bourdin (GSB) est issu de la fusion entre le geant americain Galaxy (specialise dans le secteur des maladies virales dont le SIDA et les hepatites) et le conglomerat europeen Swiss Bourdin (travaillant sur des medicaments plus conventionnels), lui meme deje union de trois petits laboratoires. En 2009, les deux geants pharmaceutiques ont uni leurs forces pour creer un leader de ce secteur industriel. L entite Galaxy Swiss Bourdin Europe a etabli son siege administratif dans la banlieue parisienne .
Le siege social de la multinationale est situe a Bagneux, Hauts-de-seine, en France</p>
  <hr class="my-4">
  <p>Voici une courte video de presentation de notre entreprise </p>
  <iframe width="727" height="409" src="https://www.youtube.com/embed/jiMbFaLtq_o" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay></iframe>
</div>

{#
<div class="video">
	<video src="../SVideo/Accueil.mp4" autoplay controls width="720" height="480"></video>
</div>
#}



{% endblock %}
