{% extends 'base.html.twig' %}

{% block title %}Edit SwitchboardItems{% endblock %}

{% block body %}
    <h1>Edit SwitchboardItems</h1>

    {{ include('switchboard_items/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('switchboard_items_index') }}">back to list</a>

    {{ include('switchboard_items/_delete_form.html.twig') }}
{% endblock %}
